.weatherInfo {
  border: 1.5px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  background-color: #f9f9f9;
  margin: 0 auto;
  max-width: 400px;
  position: absolute;
  top: 35%;
  left: 33%;
}
.weatherTitle {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 8px;
}
.weatherDetail {
  margin-bottom: 4px;
}

.weatherLabel {
  font-weight: bold;
}
