/* mobele styles */
.eventListWrapper {
  padding: 0;
  font-family: "Arial", sans-serif;
}
.eventListWrapper h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}
.eventListWrapper p {
  color: #666;
  font-size: 16px;
}
.listsOfEvents {
  list-style-type: none;
}
.listsOfEvents li {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 5px;
}
.listsOfEvents h3 {
  color: #007bff;
  font-size: 18px;
  margin-bottom: 5px;
}
.listsOfEvents p {
  color: #333;
  font-size: 14px;
}

/* Desktop version */
@media screen and (max-width: 768px) {
  .eventListWrapper {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
  }

  h2 {
    font-size: 32px;
    margin-bottom: 20px;
  }

  p {
    font-size: 18px;
    margin-bottom: 30px;
  }

  .listsOfEvents li {
    padding: 20px;
  }

  .listsOfEvents h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .listsOfEvents p {
    font-size: 16px;
    margin-bottom: 5px;
  }
}
